*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.main-header{
display: flex;
justify-content: space-between; 
padding: 1rem;
flex-direction: row;
}
.left{
    display: flex;
    font-size: 1.5rem;
    justify-content: start;
}
.left p {
    padding-top: .3rem;
    color: rgba(46, 166, 214, 0.849);
}
.left p > span{
    color: #000;
}

footer{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: #333;
    font-size: 1.5rem;
    font-weight: 400;
}
.header-text{
    font-size: 2.4rem;
    text-align: center;
    margin: 1rem;
    margin-bottom: 4rem;
}

.right{
    padding-top: .3rem;
}
.right > a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(46, 166, 214, 0.849);
    transition: all 0.2s;
}
.right > a:hover{
    color: blueviolet;
}
.right > a:first-child{
    margin-right: 2rem;
}

button,button:visited{
   border: none;
   font-size: 1.2rem;
   padding: 8px;
   border-radius: 4px;;
   background-color: rgba(46, 166, 214, 0.849);
   transition: all 0.1s
}
button:hover{
transform: translateY(-.3rem);
box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.4);
}
button:active{
    transform: translateY(-.1rem);
    box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.4);
    }
.news{
    text-align: center;
    padding: 10px;
}
.news-item{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 80px;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    border-radius: 8px;
    transition: all 0.2s;
}
.news-item h2{
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
    font-weight: 400;
}
.news-item img{
    width: 90%;
}
.news-item p{
    padding: 1rem;
    margin-top: 4rem;
    font-size: 1.5rem
}
.news-item:hover{
    transform: translateY(-.2rem);
    box-shadow: 0 .5rem 1rem #777;
}
.header-image{
    position: relative;
    width: 100%;
    height: 95vh; 
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.164), rgba(0, 0, 0, 0.562)), url(bridge.jpg);
    background-position: top;
    background-size: cover;
}
.header-image > p {
    text-transform: capitalize;
    position: absolute;
    bottom: 0.5em;
    left: 0.3em;
    font-size: 5.5rem;
    color: white ;
}
.container{
    transition: all 0.5s;
}
.overlay{
    transition: all 0.5s;
}
.container-activate{
    filter: blur(1rem);  
}
.overlay-activate{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.582);
	z-index: 1;
}
.form{
display: none;
position: absolute;
padding: 2rem;
top: 8rem;
left: 35vw;
width: 30vw;
height: 50vh;
background-color: white;
border-radius: 5px;
text-align:center ;
box-shadow: 0 0.8rem 1rem rgba(0,0,0,0.5);
z-index: 2;
transition: all 0.8s;
}
.login-activate{
    display: block;
}
.sign-up-activate{
    display: block;
}
.sign-up{
    top: 2rem;
    height: 85vh;
}
.form > h4{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-right: 4rem;
}
.close-login > svg{
    position: relative;
    top: -.5rem;
    right: -5rem;
}
.close-sign-up > svg{
    position: relative;
    top: -.3rem;
    left: 8rem;
}
svg:hover{
    cursor:pointer;
}

input{
    display: block;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e6e6e6;
}
.form > input[type='email']{
    border-bottom: none;
}
.form > input:focus{
    border: 1px solid #55a0d1;
}

.form > button {
    padding: 1.5rem 0 1.5rem 0;
    color: #fff;
    text-transform: uppercase;
    width: 85%;
    margin-top: 2rem;
    background-color: rgba(80, 70, 218, 0.877);
    transition: all 0.4s
}
.form > button:hover {
    background-color: rgba(20, 20, 20, 0.849);
}
.sign-up > input{
    padding: 1.5rem;
}

@media (max-width:800px){
    .header-image > p{
        font-size: 4rem;
    }
    .login{
        top: 1rem;
        left: 1rem;
        width: 70vw;
        height: 70vh;
    }
    .sign-up{
        top: 1rem;
        left: 1rem;
        width: 70vw;
        height: 80vh;
    }
    .sign-up > input {
        padding: 1rem;
    }
    .close-login > svg{
        top:-1rem;
        left: non;
        right:.2rem;
    }
    .close-sign-up > svg{
        top:-.5rem;
        left:6.2rem;
    }
    .right{
        padding-top: .5rem;
    }
    .right > a{
        font-size: 1.1rem;
    }
    .right > a:first-child{
        margin-right: 1rem;
    }
    footer{
        font-size: 1rem;
    }
}