*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.main-header{
display: flex;
justify-content: space-between; 
padding: 1rem;
flex-direction: row;
background-color: rgb(255, 255, 255);
}
.left{
    display: flex;
    font-size: 1.5rem;
    justify-content: start;
}
.left p {
    padding-top: .3rem;
    color: rgba(46, 166, 214, 0.849);
}
.left p > span{
    color: #000;
}

footer{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: rgba(0,0,0,.9);
    font-size: 1.5rem;
    font-weight: 400;
}
.header-text{
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    font-family: Lato, sans-serif;
    text-align: center;
    margin-bottom: 4rem;
    background-color: #fff;
    padding: 1rem;
    
}
.carousel-text{
    max-width: 80%;
    margin: 1rem auto;
}

.right{
    padding-top: .3rem;
}
.right > a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(46, 166, 214, 0.849);
    transition: all 0.2s;
}
.right > a:hover{
    background-color: rgba(46, 166, 214, 0.849) ;
    color: #fff;
    padding: .7rem 1.4rem;
    border-radius: 2rem;
}
.right > a:first-child{
    margin-right: .6rem;
}

button,button:visited{
   border: none;
   font-size: 1.2rem;
   padding: .8rem;
   border-radius: 4px;;
   background-color: rgba(46, 166, 214, 0.849);
   transition: all 0.1s
}
button:hover{
transform: translateY(-.3rem);
box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.4);
}
button:active{
    transform: translateY(-.1rem);
    box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.4);
}
.news{
    text-align: center;
    padding: 1rem;
}
.news-item{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 18rem;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5);
    border-radius: 8px;
    transition: all 0.2s;
    background-size: cover;
    background-position: center;
}
.item-1{
    background-image: url(/SIGN1.jpg);
}
.item-2{
    background-image: url( https://images.unsplash.com/photo-1580495052210-965e249ddcf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.item-3{
    background-image: url(/lastma.jpg);
}
.item-4{
    background-image: url(https://images.unsplash.com/photo-1580795479225-c50ab8c3348d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.item-5{
    background-image: url(https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
}
.news-item .inner{
    position: absolute;
    padding: 1rem;
    bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: rgba(0,0,0,.7);
}
.news-item h2{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    
}
.news-item p{
    font-size: 1rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}
.header-image{
    position: relative;
    width: 100%;
    height: 95vh; 
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.164), rgba(0, 0, 0, 0.562)), url(bridge.jpg);
    background-position: top;
    background-size: cover;
}
.header-image > p {
    text-transform: capitalize;
    position: absolute;
    bottom: 0.5em;
    left: 0.3em;
    font-size: 4rem;
    color: white ;
}
.container{
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    transition: all 0.5s; 
}
.overlay{
    transition: all 0.5s;
}
.container-activate{
    filter: blur(1rem);  
}
.overlay-activate{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.582);
	z-index: 1;
}
div.sign-up{
    top: 3rem;
    height: 34rem;
}
.form{
display: none;
position: absolute;
padding: 2rem;
top: 6rem;
left: 50%;
transform: translateX(-50%);
width: 70vw;
height: 24rem;
background-color: white;
border-radius: 5px;
text-align:center ;
box-shadow: 0 0.8rem 1rem rgba(0,0,0,0.5);
z-index: 2;
transition: all 0.8s;
}
.login-activate{
    display: block;
}
.sign-up-activate{
    display: block;
}

.form > h4{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-right: 4rem;
}
svg{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

svg:hover{
    cursor:pointer;
}

input{
    display: block;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

div.login > input:nth-child(3){
    margin-bottom: 1px;
}
div.sign-up > input:not(:last-child){
    margin-bottom: 1px;
}

.form > input:focus{
    border: 1px solid #55a0d1;
}

.form > button {
    padding: 1.5rem 0 1.5rem 0;
    color: #fff;
    text-transform: uppercase;
    width: 85%;
    margin-top: 2rem;
    background-color: rgba(80, 70, 218, 0.877);
    transition: all 0.4s
}
.form > button:hover {
    background-color: rgba(20, 20, 20, 0.849);
}
.sign-up > input{
    padding: 1rem;
}

@media (min-width:750px ){
    .header-text{
        font-size: 1.6rem;
    }
    .header-image > p{
        font-size: 4.8rem;
    }
    .news-item{
        display: inline-block;
        width: 40%;
        margin: 1rem;
    }
}

@media (min-width:950px){
    .header-text{
        font-size: 2rem;
    }
    .header-image > p{
        font-size: 6rem;
    }
    .news-item{
        display: inline-block;
        width: 28%;
        margin: 1rem;
    }
}
@media (min-width:1100px){
    .header-text{
        font-size: 2rem;
    }
    .header-image > p{
        font-size: 7rem;
    }
    .news-item{
        display: inline-block;
        width: 28%;
        margin: 1rem;
    }
}